<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Imported Rule 1">
                    <match url="^home\.html$" ignoreCase="false" />
                    <action type="Rewrite" url="/home.php" />
                </rule>
                <rule name="Imported Rule 2">
                    <match url="^index\.html$" ignoreCase="false" />
                    <action type="Rewrite" url="/index.php" />
                </rule>
                <rule name="Imported Rule 3">
                    <match url="^tasksonic_([0-9]+)\.html$" ignoreCase="false" />
                    <action type="Rewrite" url="/page.php?pid={R:1}" appendQueryString="false" />
                </rule>			
                <rule name="Imported Rule 4">
                    <match url="^signup\.html$" ignoreCase="false" />
                    <action type="Rewrite" url="/signup.php" />
                </rule>
                <rule name="Imported Rule 5">
                    <match url="^signup_success\.html$" ignoreCase="false" />
                    <action type="Rewrite" url="/signup_success.php" />
                </rule>
                <rule name="Imported Rule 6">
                    <match url="^forgotpasswd_success\.html$" ignoreCase="false" />
                    <action type="Rewrite" url="/forgotpasswd_success.php" />
                </rule>
                <rule name="Imported Rule 7">
                    <match url="^contact_success\.html$" ignoreCase="false" />
                    <action type="Rewrite" url="/contact_success.php" />
                </rule>
                <rule name="Imported Rule 8">
                    <match url="^task_post_success\.html$" ignoreCase="false" />
                    <action type="Rewrite" url="/post_task_sucessfully.php" />
                </rule>
                <rule name="Imported Rule 9" stopProcessing="true">
                    <match url="^task_owner_profile_([a-zA-Z0-9-]+)\.html$" ignoreCase="false" />
                    <action type="Rewrite" url="/viewtask_ownerprofile.php?user={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 10" stopProcessing="true">
                    <match url="^tasker_profile_([a-zA-Z0-9-]+)\.html$" ignoreCase="false" />
                    <action type="Rewrite" url="/viewtaskerprofile.php?user={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 11" stopProcessing="true">
                    <match url="^tasker_portfolio_([a-zA-Z0-9-]+)\.html$" ignoreCase="false" />
                    <action type="Rewrite" url="/seller_portfoilo.php?user_name={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 12" stopProcessing="true">
                    <match url="^contact_us\.html$" ignoreCase="false" />
                    <action type="Rewrite" url="/contact_us.php" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 13" stopProcessing="true">
                    <match url="^portfolio_([a-zA-Z0-9-]+)_([0-9]+)\.html$" ignoreCase="false" />
                    <action type="Rewrite" url="/view_protfolio.php?username={R:1}&amp;portid={R:2}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 14" stopProcessing="true">
                    <match url="^post_project_([a-zA-Z0-9-]+)\.html$" ignoreCase="false" />
                    <action type="Rewrite" url="/post_task.php?user_name={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 15" stopProcessing="true">
                    <match url="^task_([a-zA-Z0-9]+)_(.[^/]+)\.html$" ignoreCase="false" />
                    <action type="Rewrite" url="/task.php?id={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 16" stopProcessing="true">
                    <match url="^edit_task_success_([a-zA-Z0-9]+)\.html$" ignoreCase="false" />
                    <action type="Rewrite" url="/edit_task_success.php?pro_id={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 17" stopProcessing="true">
                    <match url="^extend_task_([a-zA-Z0-9]+)_(.[^/]+)\.html$" ignoreCase="false" />
                    <action type="Rewrite" url="/extend_task.php?id={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 18" stopProcessing="true">
                    <match url="^edit_task_([a-zA-Z0-9]+)_(.[^/]+)\.html$" ignoreCase="false" />
                    <action type="Rewrite" url="/edit_task.php?id={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 19" stopProcessing="true">
                    <match url="^shortlist_([a-zA-Z0-9]+)_(.[^/]+)\.html$" ignoreCase="false" />
                    <action type="Rewrite" url="/shortlist.php?id={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 20" stopProcessing="true">
                    <match url="^decline_([a-zA-Z0-9]+)_(.[^/]+)\.html$" ignoreCase="false" />
                    <action type="Rewrite" url="/decline.php?id={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 21" stopProcessing="true">
                    <match url="^extend_task_success_([a-zA-Z0-9]+)_(.[^/]+)\.html$" ignoreCase="false" />
                    <action type="Rewrite" url="/extend_task_success.php?pro_id={R:1}&amp;days={R:2}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 22" stopProcessing="true">
                    <match url="^close_task_([a-zA-Z0-9]+)_(.[^/]+)\.html$" ignoreCase="false" />
                    <action type="Rewrite" url="/close_project.php?id={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 23" stopProcessing="true">
                    <match url="^award_task_([a-zA-Z0-9]+)_(.[^/]+)\.html$" ignoreCase="false" />
                    <action type="Rewrite" url="/award_task.php?id={R:1}&amp;proj_name={R:2}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 24" stopProcessing="true">
                    <match url="^accept_task_([a-zA-Z0-9]+)_(.[^/]+)\.html$" ignoreCase="false" />
                    <action type="Rewrite" url="/accept_task.php?id={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 25">
                    <match url="^violation_success\.html$" ignoreCase="false" />
                    <action type="Rewrite" url="/violation_success.php" />
                </rule>
                <rule name="Imported Rule 26">
                    <match url="^accept_task_success\.html$" ignoreCase="false" />
                    <action type="Rewrite" url="/accept_task_success.php" />
                </rule>
                <rule name="Imported Rule 27">
                    <match url="^membership_buy_success\.html$" ignoreCase="false" />
                    <action type="Rewrite" url="/membership_buy_success.php" />
                </rule>
                <rule name="Imported Rule 28">
                    <match url="^escrow_success\.html$" ignoreCase="false" />
                    <action type="Rewrite" url="/escrow_success.php" />
                </rule>
                <rule name="Imported Rule 29" stopProcessing="true">
                    <match url="^place_bid_([a-zA-Z0-9]+)_(.[^/]+)\.html$" ignoreCase="false" />
                    <action type="Rewrite" url="/place_bid.php?project={R:1}&amp;proj_name={R:2}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 30" stopProcessing="true">
                    <match url="^([a-zA-Z0-9-]+)_task_owner_feedback\.html$" ignoreCase="false" />
                    <action type="Rewrite" url="/task_owner_feedback.php?user={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 31" stopProcessing="true">
                    <match url="^([a-zA-Z0-9-]+)_tasker_feedback\.html$" ignoreCase="false" />
                    <action type="Rewrite" url="/tasker_feedback.php?user={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 32" stopProcessing="true">
                    <match url="^release_payment_([0-9]+)\.html$" ignoreCase="false" />
                    <action type="Rewrite" url="/release_escrow_payment.php?id={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 33" stopProcessing="true">
                    <match url="^cancel_payment_([a-zA-Z0-9]+)\.html$" ignoreCase="false" />
                    <action type="Rewrite" url="/cancel_escrow_payment.php?id={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 34" stopProcessing="true">
                    <match url="^less_balance_([0-9]+)([a-zA-Z0-9-]+)([0-9]+)\.html$" ignoreCase="false" />
                    <action type="Rewrite" url="/less_balance_buyer.php?project_id={R:1}&amp;awarded_user={R:2}&amp;error={R:3}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 35" stopProcessing="true">
                    <match url="^category_([0-9]+)\.html$" ignoreCase="false" />
                    <action type="Rewrite" url="/category.php?cat_id={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 36" stopProcessing="true">
                    <match url="^all_tasker_profiles_([0-9]+)\.html$" ignoreCase="false" />
                    <action type="Rewrite" url="/all_tasker_profiles.php?cat_id={R:1}" appendQueryString="false" />
                </rule>				
                <rule name="Imported Rule 37" stopProcessing="true">
                    <match url="^less_balance_([0-9]+)_(.[^/]+)_([0-9]+)\.html$" ignoreCase="false" />
                    <action type="Rewrite" url="/less_balance.php?re_amount={R:1}&amp;amt_short={R:2}&amp;staged_id={R:3}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 38" stopProcessing="true">
                    <match url="^republish_task_([a-zA-Z0-9-]+)_(.[^/]+)\.html$" ignoreCase="false" />
                    <action type="Rewrite" url="/republish_post_task.php?project_id={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 39">
                    <match url="^latest-open-tasks\.html$" ignoreCase="false" />
                    <action type="Rewrite" url="/latest_open_tasks.php" />
                </rule>
                <rule name="Imported Rule 40">
                    <match url="^completed-tasks\.html$" ignoreCase="false" />
                    <action type="Rewrite" url="/completed_tasks.php" />
                </rule>
                <rule name="Imported Rule 41">
                    <match url="^task-categories\.html$" ignoreCase="false" />
                    <action type="Rewrite" url="/category_list.php" />
                </rule>
                <rule name="Imported Rule 42">
                    <match url="^rate-tasker\.html$" ignoreCase="false" />
                    <action type="Rewrite" url="/tasker_rating.php" />
                </rule>	
                <rule name="Imported Rule 43">
                    <match url="^rate-task-owner\.html$" ignoreCase="false" />
                    <action type="Rewrite" url="/task_owner_rating.php" />
                </rule>	
                <rule name="Imported Rule 44">
                    <match url="^pm-inbox\.html$" ignoreCase="false" />
                    <action type="Rewrite" url="/private_msg.php" />
                </rule>
                <rule name="Imported Rule 45">
                    <match url="^my-posted-tasks\.html$" ignoreCase="false" />
                    <action type="Rewrite" url="/view_all_my_tasks.php" />
                </rule>
                <rule name="Imported Rule 46">
                    <match url="^my-assigned-tasks\.html$" ignoreCase="false" />
                    <action type="Rewrite" url="/tasker_activity.php" />
                </rule>
                <rule name="Imported Rule 47">
                    <match url="^edit-task-owner-profile\.html$" ignoreCase="false" />
                    <action type="Rewrite" url="/edittask_ownerprofile.php" />
                </rule>	
                <rule name="Imported Rule 48">
                    <match url="^edit-tasker-profile\.html$" ignoreCase="false" />
                    <action type="Rewrite" url="/edittaskerprofile.php" />
                </rule>	
                <rule name="Imported Rule 49">
                    <match url="^update-password\.html$" ignoreCase="false" />
                    <action type="Rewrite" url="/changepasswd.php" />
                </rule>	
                <rule name="Imported Rule 50">
                    <match url="^my-account\.html$" ignoreCase="false" />
                    <action type="Rewrite" url="/account.php" />
                </rule>
                <rule name="Imported Rule 51">
                    <match url="^my-transactions\.html$" ignoreCase="false" />
                    <action type="Rewrite" url="/transaction.php" />
                </rule>	
                <rule name="Imported Rule 52">
                    <match url="^create-escrow-payment\.html$" ignoreCase="false" />
                    <action type="Rewrite" url="/escrow.php" />
                </rule>	
                <rule name="Imported Rule 53">
                    <match url="^my-escrow-payments\.html$" ignoreCase="false" />
                    <action type="Rewrite" url="/manage_escrow.php" />
                </rule>
                <rule name="Imported Rule 54">
                    <match url="^request-withdraw\.html$" ignoreCase="false" />
                    <action type="Rewrite" url="/withdraw.php" />
                </rule>	
                <rule name="Imported Rule 55">
                    <match url="^make-deposit\.html$" ignoreCase="false" />
                    <action type="Rewrite" url="/deposit.php" />
                </rule>
                <rule name="Imported Rule 56">
                    <match url="^post_task_([a-zA-Z0-9-]+)\.html$" ignoreCase="false" />
                    <action type="Rewrite" url="/post_task.php?user={R:1}" />
                </rule>
                <rule name="Imported Rule 57">
                    <match url="^post-new-task\.html$" ignoreCase="false" />
                    <action type="Rewrite" url="/post_task.php" />
                </rule>	
                <rule name="Imported Rule 58">
                    <match url="^edit-your-profile\.html$" ignoreCase="false" />
                    <action type="Rewrite" url="/edit_userinfo.php" />
                </rule>
                <rule name="Imported Rule 59">
                    <match url="^report-violation\.html$" ignoreCase="false" />
                    <action type="Rewrite" url="/violation.php" />
                </rule>
                <rule name="Imported Rule 60" stopProcessing="true">
                    <match url="^copy_task_([a-zA-Z0-9-]+)_(.[^/]+)\.html$" ignoreCase="false" />
                    <action type="Rewrite" url="/copy_task.php?project_id={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 61" stopProcessing="true">
                    <match url="^staged_task_([a-zA-Z0-9-]+)_(.[^/]+)\.html$" ignoreCase="false" />
                    <action type="Rewrite" url="/publish_staged_task.php?project_id={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 62" stopProcessing="true">
                    <match url="^make-deposit_([0-9]+)_(.[^/]+)_([0-9]+)\.html$" ignoreCase="false" />
                    <action type="Rewrite" url="/deposit.php?re_amount={R:1}&amp;amt_short={R:2}&amp;staged_id={R:3}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 63" stopProcessing="true">
                    <match url="^mark-completed_([a-zA-Z0-9-]+)\.html$" ignoreCase="false" />
                    <action type="Rewrite" url="/mark_task_completed.php?project_id={R:1}" appendQueryString="false" />
                </rule>	
                <rule name="Imported Rule 64" stopProcessing="true">
                    <match url="^accept-failed_([0-9]+)_([0-9]+)_([0-9.]+)_([a-zA-Z0-9]+)_(.[^/]+)\.html$" ignoreCase="false" />
                    <action type="Rewrite" url="/not_accept_task.php?task_owner_flag={R:1}&amp;tasker_flag={R:2}&amp;short={R:3}&amp;task_owner={R:4}&amp;task_name={R:5}" appendQueryString="false" />
                </rule>	
                <rule name="Imported Rule 65" stopProcessing="true">
                    <match url="^dispute-completed_([a-zA-Z0-9-]+)\.html$" ignoreCase="false" />
                    <action type="Rewrite" url="/dispute_task_completed.php?project_id={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 66" stopProcessing="true">
                    <match url="^verify\.html$" ignoreCase="false" />
                    <action type="Rewrite" url="/verify.php" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 67" stopProcessing="true">
                    <match url="^faq\.html$" ignoreCase="false" />
                    <action type="Rewrite" url="/faq.php" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 68" stopProcessing="true">
                    <match url="^faq_([a-zA-Z0-9]+)_([0-9.]+)\.html$" ignoreCase="false" />
                    <action type="Rewrite" url="/faq.php?action={R:1}&amp;faq_id={R:2}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 69" stopProcessing="true">
                    <match url="^welcome\.html$" ignoreCase="false" />
                    <action type="Rewrite" url="/first_login.php" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 70" stopProcessing="true">
                    <match url="^terms_conditions\.html$" ignoreCase="false" />
                    <action type="Rewrite" url="/page.php?pid=2" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 71" stopProcessing="true">
                    <match url="^about\.html$" ignoreCase="false" />
                    <action type="Rewrite" url="/page.php?pid=7" appendQueryString="false" />
                </rule>	
                <rule name="Imported Rule 72" stopProcessing="true">
                    <match url="^privacy\.html$" ignoreCase="false" />
                    <action type="Rewrite" url="/page.php?pid=5" appendQueryString="false" />
                </rule>	
                <rule name="Imported Rule 73" stopProcessing="true">
                    <match url="^how_works\.html$" ignoreCase="false" />
                    <action type="Rewrite" url="/page.php?pid=1" appendQueryString="false" />
                </rule>	
                <rule name="Imported Rule 74" stopProcessing="true">
                    <match url="^tour\.html$" ignoreCase="false" />
                    <action type="Rewrite" url="/page.php?pid=6" appendQueryString="false" />
                </rule>	
                <rule name="Imported Rule 75" stopProcessing="true">
                    <match url="^become_tasker\.html$" ignoreCase="false" />
                    <action type="Rewrite" url="/page.php?pid=4" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 76" stopProcessing="true">
                    <match url="^become_task_owner\.html$" ignoreCase="false" />
                    <action type="Rewrite" url="/page.php?pid=8" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 77" stopProcessing="true">
                    <match url="^share_earn\.html$" ignoreCase="false" />
                    <action type="Rewrite" url="/invite.php" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 78" stopProcessing="true">
                    <match url="^get_verified\.html$" ignoreCase="false" />
                    <action type="Rewrite" url="/page.php?pid=36" appendQueryString="false" />
                </rule>	
                <rule name="Imported Rule 79" stopProcessing="true">
                    <match url="^latest-online-tasks\.html$" ignoreCase="false" />
                    <action type="Rewrite" url="/latest_online_tasks.php" appendQueryString="false" />
                </rule>	
                <rule name="Imported Rule 80">
                    <match url="^forgotusername_success\.html$" ignoreCase="false" />
                    <action type="Rewrite" url="/forgotusername_success.php" />
                </rule>
                <rule name="Imported Rule 81">
                    <match url="^forgotusername\.html$" ignoreCase="false" />
                    <action type="Rewrite" url="/forgotusername.php" />
                </rule>	
                <rule name="Imported Rule 82">
                    <match url="^forgotpasswd\.html$" ignoreCase="false" />
                    <action type="Rewrite" url="/forgotpasswd.php" />
                </rule>	
                <rule name="Imported Rule 83">
                    <match url="^pending-withdraw\.html$" ignoreCase="false" />
                    <action type="Rewrite" url="/withdraw_pending.php" />
                </rule>
                <rule name="Imported Rule 84">
                    <match url="^clarification-board\.html$" ignoreCase="false" />
                    <action type="Rewrite" url="/msg_board.php" />
                </rule>	
                <rule name="Imported Rule 85">
                    <match url="^get-phone-verified\.html$" ignoreCase="false" />
                    <action type="Rewrite" url="/phone-verify.php" />
                </rule>
                <rule name="Imported Rule 86">
                    <match url="^home2\.html$" ignoreCase="false" />
                    <action type="Rewrite" url="/home2.php" />
                </rule>
                <rule name="Imported Rule 87" stopProcessing="true">
                    <match url="^report_task_inactivity_([a-zA-Z0-9-]+)\.html$" ignoreCase="false" />
                    <action type="Rewrite" url="/report_task_inactivity.php?project_id={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 1-1">
                    <match url="^home\.html$" ignoreCase="false" />
                    <action type="Rewrite" url="/home.php" />
                </rule>
                <rule name="Imported Rule 2-1">
                    <match url="^index\.html$" ignoreCase="false" />
                    <action type="Rewrite" url="/index.php" />
                </rule>
                <rule name="Imported Rule 3-1">
                    <match url="^page_([0-9]+)\.html$" ignoreCase="false" />
                    <action type="Rewrite" url="/page.php?pid={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 4-1">
                    <match url="^signup\.html$" ignoreCase="false" />
                    <action type="Rewrite" url="/signup.php" />
                </rule>
                <rule name="Imported Rule 5-1">
                    <match url="^signup_success\.html$" ignoreCase="false" />
                    <action type="Rewrite" url="/signup_success.php" />
                </rule>
                <rule name="Imported Rule 6-1">
                    <match url="^forgotpasswd_success\.html$" ignoreCase="false" />
                    <action type="Rewrite" url="/forgotpasswd_success.php" />
                </rule>
                <rule name="Imported Rule 7-1">
                    <match url="^contact_success\.html$" ignoreCase="false" />
                    <action type="Rewrite" url="/contact_success.php" />
                </rule>
                <rule name="Imported Rule 8-1">
                    <match url="^new_task_post_success\.html$" ignoreCase="false" />
                    <action type="Rewrite" url="/post_task_sucessfully.php" />
                </rule>
                <rule name="Imported Rule 9-1" stopProcessing="true">
                    <match url="^task_owner_profile_([a-zA-Z0-9-]+)\.html$" ignoreCase="false" />
                    <action type="Rewrite" url="/viewtask_ownerprofile.php?user={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 10-1" stopProcessing="true">
                    <match url="^tasker_profile_([a-zA-Z0-9-]+)\.html$" ignoreCase="false" />
                    <action type="Rewrite" url="/viewtaskerprofile.php?user={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 11-1" stopProcessing="true">
                    <match url="^tasker_portfolio_([a-zA-Z0-9-]+)\.html$" ignoreCase="false" />
                    <action type="Rewrite" url="/seller_portfoilo.php?user_name={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 12-1" stopProcessing="true">
                    <match url="^contact_([a-zA-Z0-9-]+)\.html$" ignoreCase="false" />
                    <action type="Rewrite" url="/contact.php?user_name={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 13-1" stopProcessing="true">
                    <match url="^portfolio_([a-zA-Z0-9-]+)_([0-9]+)\.html$" ignoreCase="false" />
                    <action type="Rewrite" url="/view_protfolio.php?username={R:1}&amp;portid={R:2}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 14-1" stopProcessing="true">
                    <match url="^post_task_([a-zA-Z0-9-]+)\.html$" ignoreCase="false" />
                    <action type="Rewrite" url="/post_task.php?user_name={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 15-1" stopProcessing="true">
                    <match url="^task_([a-zA-Z0-9]+)_(.[^/]+)\.html$" ignoreCase="false" />
                    <action type="Rewrite" url="/task.php?id={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 16-1" stopProcessing="true">
                    <match url="^edit_task_success_([a-zA-Z0-9]+)\.html$" ignoreCase="false" />
                    <action type="Rewrite" url="/edit_task_success.php?pro_id={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 17-1" stopProcessing="true">
                    <match url="^extend_task_([a-zA-Z0-9]+)_(.[^/]+)\.html$" ignoreCase="false" />
                    <action type="Rewrite" url="/extend_task.php?id={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 18-1" stopProcessing="true">
                    <match url="^edit_task_([a-zA-Z0-9]+)_(.[^/]+)\.html$" ignoreCase="false" />
                    <action type="Rewrite" url="/edit_task.php?id={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 19-1" stopProcessing="true">
                    <match url="^shortlist_([a-zA-Z0-9]+)_(.[^/]+)\.html$" ignoreCase="false" />
                    <action type="Rewrite" url="/shortlist.php?id={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 20-1" stopProcessing="true">
                    <match url="^decline_([a-zA-Z0-9]+)_(.[^/]+)\.html$" ignoreCase="false" />
                    <action type="Rewrite" url="/decline.php?id={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 21-1" stopProcessing="true">
                    <match url="^extend_task_success_([a-zA-Z0-9]+)_(.[^/]+)\.html$" ignoreCase="false" />
                    <action type="Rewrite" url="/extend_task_success.php?pro_id={R:1}&amp;days={R:2}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 22-1" stopProcessing="true">
                    <match url="^close_task_([a-zA-Z0-9]+)_(.[^/]+)\.html$" ignoreCase="false" />
                    <action type="Rewrite" url="/close_project.php?id={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 23-1" stopProcessing="true">
                    <match url="^award_task_([a-zA-Z0-9]+)_(.[^/]+)\.html$" ignoreCase="false" />
                    <action type="Rewrite" url="/award_task.php?id={R:1}&amp;proj_name={R:2}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 24-1" stopProcessing="true">
                    <match url="^accept_project_([a-zA-Z0-9]+)_(.[^/]+)\.html$" ignoreCase="false" />
                    <action type="Rewrite" url="/accept_project.php?id={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 25-1">
                    <match url="^violation_success\.html$" ignoreCase="false" />
                    <action type="Rewrite" url="/violation_success.php" />
                </rule>
                <rule name="Imported Rule 26-1">
                    <match url="^accept_task_success\.html$" ignoreCase="false" />
                    <action type="Rewrite" url="/accept_project_success.php" />
                </rule>
                <rule name="Imported Rule 27-1">
                    <match url="^membership_buy_success\.html$" ignoreCase="false" />
                    <action type="Rewrite" url="/membership_buy_success.php" />
                </rule>
                <rule name="Imported Rule 28-1">
                    <match url="^escrow_success\.html$" ignoreCase="false" />
                    <action type="Rewrite" url="/escrow_success.php" />
                </rule>
                <rule name="Imported Rule 29-1" stopProcessing="true">
                    <match url="^place_bid_([a-zA-Z0-9]+)_(.[^/]+)\.html$" ignoreCase="false" />
                    <action type="Rewrite" url="/place_bid.php?project={R:1}&amp;proj_name={R:2}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 30-1" stopProcessing="true">
                    <match url="^([a-zA-Z0-9-]+)_task_owner_feedback\.html$" ignoreCase="false" />
                    <action type="Rewrite" url="/task_owner_feedback.php?user={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 31-1" stopProcessing="true">
                    <match url="^([a-zA-Z0-9-]+)_tasker_feedback\.html$" ignoreCase="false" />
                    <action type="Rewrite" url="/tasker_feedback.php?user={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 32-1" stopProcessing="true">
                    <match url="^release_payment_([0-9]+)\.html$" ignoreCase="false" />
                    <action type="Rewrite" url="/release_escrow_payment.php?id={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 33-1" stopProcessing="true">
                    <match url="^cancel_payment_([a-zA-Z0-9]+)\.html$" ignoreCase="false" />
                    <action type="Rewrite" url="/cancel_escrow_payment.php?id={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 34-1" stopProcessing="true">
                    <match url="^less_balance_([0-9]+)([a-zA-Z0-9-]+)([0-9]+)\.html$" ignoreCase="false" />
                    <action type="Rewrite" url="/less_balance_buyer.php?project_id={R:1}&amp;awarded_user={R:2}&amp;error={R:3}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 35-1" stopProcessing="true">
                    <match url="^category_([0-9]+)\.html$" ignoreCase="false" />
                    <action type="Rewrite" url="/category.php?cat_id={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 36-1" stopProcessing="true">
                    <match url="^less_balance_([0-9]+)\.html$" ignoreCase="false" />
                    <action type="Rewrite" url="/less_balance.php?re_amount={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 37-1" stopProcessing="true">
                    <match url="^republish_post_task_([a-zA-Z0-9-]+)_(.[^/]+)\.html$" ignoreCase="false" />
                    <action type="Rewrite" url="/republish_post_task.php?project_id={R:1}" appendQueryString="false" />
                </rule>			
            </rules>
        </rewrite>
        <defaultDocument>
            <files>
                <clear />
                <add value="index.php" />
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="index.htm" />
                <add value="index.html" />
                <add value="iisstart.htm" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>
